.header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    display: grid;
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    background-color: rgba(114, 24, 106, 0.7);
}